.rate {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #262e38;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #7c8798;
  font-size: 16px;
  font-weight: 700;
  transition: 0.05s;
}

.rate:hover {
  background-color: #fc7614;
  color: white;
}
