.submit {
  width: 100%;
  height: 45px;
  background-color: #fc7614;
  color: white;
  text-transform: capitalize;
  border-radius: 22px;
  margin-top: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  transition: 0.05s;
  cursor: pointer;
}

.submit:hover {
  background-color: white;
  color: #fc7614;
}
